body{
    margin: 0px;
    padding:0px;
}
#siteNavOuter{
    background-color: #F7F7F7;

}
#siteNav{
    background-color: #F7F7F7;
    font-size:12px;
    height:35px;
    line-height: 35px;
    width:1200px;
    margin:0 auto;
}
.siteNavRClass,.siteNavLClass{
    float:left;
}
.siteNavRClassHasTwo{
    border-bottom: solid 1px #F7F7F7;
    border-left: solid 1px #F7F7F7;
    border-right: solid 1px #F7F7F7;
    box-sizing: border-box;
}
#siteNavLeftMobile{
    margin-left:12px;
}
#siteNavLeftLogin{
    margin-left:7px;
}
#siteNavRight{
    float:right;
}
#siteNavARed{
    color:red;
}
.siteNavA{
    color:#6c6c6c;
    text-decoration: none;
    margin:0 5px;
    display:block;
}
.siteNavA:hover {
    color: red;
}
.siteNavIconLeft{
    margin:7px;
}
.siteNavIconRight{
    margin:7px;
}
#siteNavIconCar,.fa-shopping-cart,.fa-bars,#siteNavIconNav{
    color:red;
}
.fa-star{
    color:#6c6c6c;
}
#siteNavRight li,#siteNavRight a{
    list-style-type: none;
    text-decoration: none;
    color:#6c6c6c;
}
#siteNavRightTaoTwoUl,#siteNavRightFolderUl,#siteNavRightCenterUl,#siteNavRightConnectUl{
    padding:0px;
}
#siteNavRight li{
    height:25px;
    line-height: 25px;
    display:block;
    width:72px;
    margin-right:0px;
}
#siteNavRight .siteNavRightTwoDiv{
    margin: 0 5px;
}
.siteNavRightCenterLiA{
    height:25px;
    display:block;
    float:left;
    width:inherit;
}
#siteNavRight a:hover{
    background:#F7F7F7;
}

